@charset "UTF-8";

html { background-color: #fff; } 

body{
	margin: 0;
	padding: 0;
	box-sizing: obarder-box;
	min-height: 100vh;
	overflow-x: hidden;
	background : #fff;
}

.header {
	background-color: white;
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

.headerNav{
	width: 1050px;
	padding: 0px;
	padding-bottom: 5px;
	margin-top: 3px;
	border : 0px;
	border-bottom: 1px solid;
	border-image: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
  	border-image-slice: 1;
  	height: 15px;
  	background-color: #eee;
  	box-sizing: initial;
  	margin-left: auto;
	margin-right: auto;
}

.headerNav p{
	display: table-cell;
	height: 20px;
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	vertical-align: middle;
	float: right;
}

.headerNav p a{
	width: 70px;
	height: 13px;
	float: right;
	margin-right: 5px;
	margin: 0px;
	border: 0px;
	border-right: 1px solid;
	border-image: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
  	border-image-slice: 1;
  	font-size: 12px;
  	text-align: center;
  	text-decoration: none;
}


.headerNav p a:first-child{
	width: 50px;
	margin-right: 0px;
	border-right: 0px;
}

.header .bannerImg{
	margin-top: 15px;
	text-align: center;
}

.search_div input{
	font-size:13px;
	border: 3px solid;  
	border-image: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
  	border-image-slice: 1;
  	width:200px; 
  	height:19px; 
  	margin-right: 3px;
  	outline: none;
  	padding: 1px 5px 2px;
}

.search_div {
	position: relative; 
	top: 40px; 
	left: 350px;
}

.search_div {
	position: relative; 
	top: 40px; 
	left: 350px;
}

.content_boards, .content_comment {
	width: 825px;
}
.content {
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}


.footer {
    background: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
    width: 1050px;
    margin-left: auto;
	margin-right: auto;
 }

/*
=======================MainBanner===========================
*/
.top {
	width: 1050px;
	height:75px;
  	margin: 0 auto;
  	margin-bottom: 0px;
}

.top ul{
	display: inline-block;
	list-style-type: none;
	padding: 0px;
}

.top .animalName{
	width: 120px;
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	top: 55px;
}

.top .bannerImg{
	width:350px;
	height:65px;
	float: left;
}

.top .bestAnimal_title{
	position : absolute;
	top : 40px;
	color : #ddd;
}

.top .bestAnimal{
	float: left;
	margin-left: 5px;
	margin-bottom: -1px;
}

.top .active{
	float: right;
}

/*
=======================MainNav===========================
*/

.mainNav{
	position: sticky;
	display: block;
	width: 1050px;
	height: 18px !important;
  	padding: 5px 5px;
  	margin-top: 1px;
  	margin-bottom: 0px;
	list-style-type: none;
	text-align: center;
  	border-top: 7px solid;
  	border-bottom: 7px solid;
  	border-image: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
  	border-image-slice: 1;
  	background:  linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
  	margin-left: auto;
  	margin-right: auto;
  	box-sizing: initial ;
  	
}


.mainNav li a:hover:not(.active) {
	color: #ffff33;
	background-color: #5858AC;
}

.mainNav .active {
  background-color: #04AA6D;
}

@media (hover:hover){
	.category_names{
		position: relative;
		width: 120px;
		display: inline-block;
		margin-right: 5px;
		margin-left: 5px;
		
	}
	.category_name{
		font-size: 15px;
		font-weight: bold;
		position: absolute;
		display: inline-block;
		top: -29.5px;
		left: -18px;
		width: 120px;
		height: 42px;
		color: #ffffff;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
		cursor : pointer;
		vertical-align: middle;
 	}
 	.category_name p{
		margin: 0px;
		margin-top: 10px;
	}
 	
	.category_ul{
		position: absolute;
		display: inline-block;
		box-sizing: initial ;
		border: 1px solid;
		border-top: 0;
		border-image: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
		border-image-slice: 1;
		width: 120px;
		text-align: center;
		background-color: #FFF;
		list-style-type: none;
		padding : 0px;
		right: 16px;
		top: 22.3px;
	}
	.category_list{
		display: none;
		width:120px;
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: -9px;
	}
	.category_li{
		width:120px;
		border-bottom: 1px solid;
		border-color: #dddddd;
	}
	
	.category_li:last-child{
		width:120px;
		border-bottom: 0;
	}
	.category_detail{
		display: block;
		text-decoration: none;
		font-size: 12px;
		color: #5858AC;
		background-color: #FFF;
		padding-top: 5px;
	}
	
	.category_detail:hover{
		color: #000000;
	}
	.category_detail p{
		margin: 0px;
		height: 21.25px;
		
	}
}

@media (hover:none){
	
}

.paging{
	text-align: center;
}

