@charset "EUC-KR";

html { background-color: #fff; } 

body{
	margin: 0;
	padding: 0;
	box-sizing: obarder-box;
	min-height: 100vh;
	overflow-x: hidden;
}

.header {
	background-color: white;
	width: 100%;
	text-align: center;
}

.header .bannerImg{
	text-align: center;
}

.content .content_boards .content_comment {
  width: 70%;
  
  
}
.content {
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}


.footer {
    background: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
 }

/*
=======================MainBanner===========================
*/
.top {
	width: 70%;
	height:75px;
	padding: 5px;
  	margin: 0 auto;
  	margin-top: 20px;
  	margin-bottom: 0px;
}

.top ul{
	display: inline;
	list-style-type: none;
	padding: 0px;
}

.top li{
	float: left;
}

.top .animalName{
	font-size: 30px;
}

@media screen and (max-width:800px){
	.top .tagLi{
		display: none;
	}
}
@media screen and (max-width:600px){
	.top .bestAnimal{
		display: none;
	}
	
	.top .animalName{
		display: none;
	}
}


/*
=======================MainNav===========================
*/

/*

*/

.mainNav{
	position: sticky;
	width: 100%;
  	padding: 5px 5px;
  	margin-top: 0px;
	list-style-type: none;
	text-align: center;
  	overflow: hidden;
  	border-top: 9px solid;
  	border-bottom: 9px solid;
  	
  	border-image: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
  	border-image-slice: 1;
}

.mainNav li{
	display: inline-block;
	margin-right: 20px;
	font-size: 20px;
}

.mainNav li a{
	color: #000000;
	text-align: center;
	padding: 0px 16px;
	text-decoration: none;
	background-color: #ffffff;
	overflow: hidden;
}

.mainNav li a:hover:not(.active) {
  background-color: #dddddd;
}

.mainNav .active {
  background-color: #04AA6D;
}

