@charset "UTF-8";

/*
=======================MainBody===========================
*/

.mainbody{
	overflow: hidden;
  	margin: 0 auto;
  	list-style-type: none;
}


@media screen and (max-width:560px){
	.mainBody {
		float: left;
	}
	.left {	
		float: center;
	}
	 .right {
	 	float: center;
	 }	
	 .left .container {
	 	align-items: left;
	 	text-align : left;
		font-size: 20px;
	}
	.right {
	 	align-items: left;
	 	text-align : left;
		font-size: 20px;
		margin-top: 30px;
	}
	.imgContainer {
	 	float: center;
	 	justify-content: center;
	}
}

@media screen and (min-width:560px){
	.mainBody{
		float: center;
		padding	: 5px 50px;
	}

	.left{	
		float: left;
		width: 450px;
		padding	: 5px 0px;
	}
	 .right{
	 	float: right;
		width: 450px;
		padding	: 5px 0px;
	 }	
	
}

.boardEmpty{
	font-size: 16px;
}

.nonediv{
	margin-left: 10px;
}


/*
=======================MainBody left, right===========================
*/

.left a{
	text-decoration-line: none;	
}

.right a{
	text-decoration-line: none;	
}

/*
=======================MainBody left===========================
*/

.left .container:not(:first-of-type){
	margin-top: 55px;
	
}

.left .container{
	font-size: 20px;
	padding: 3px 0px;
	padding-top: 35px;
	line-height: 25px;
}

.left .container ul{
	margin-top: 30px;
}


.left .container li{
	list-style-type: none;
	padding: 5px 0px;
}


/*
=======================MainBody right===========================
*/

.right .imgContainer:not(:first-of-type){
	margin-top: 55px;
	
}


.right .imgContainer{
	font-size: 20px;
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	line-height: 35px;
}

.right h2{
	font-size: 30px;
}

.right .imgTextContainer{
	text-align: center;
}

.right .imgImg{
	width: 200px;
	height: 200px;
}

.right .imgText{
	height: 20px;
}


/*
=======================mainBoardLine===========================
*/

.mainBoardLine {
	border: 0;
	height: 4px;
	background: #ccc;
}

/*
=======================Titles===========================
*/

.categoryTitle {
	font-size: 20px;
	color: #8774B6;
	
}

.boardTitle a{
	font-size: 16px;
	color: #ccc;
}

