@charset "UTF-8";

/*
=======================MainBody===========================
*/

.mainBody{
	max-width: 1300px;
	min-width: 900px; /* 정렬하려는 요소의 넓이를 반드시 지정 */
  	margin: 0 auto;
}

/*
=======================MainBody left, right===========================
*/

.mainBody .left, .right{
	width: 620px;
	left: 15px;
	right: 15px;
	max-width: 650px;
	min-width: 450px;
}

.mainBody .left {
	float: left;	
}
.mainBody .right {
	float: right;	
}

/*
=======================MainBody left===========================
*/

.mainBody .left .container:not(:first-of-type){
	margin-top: 55px;
}

.mainBody .left .container{
	font-size: 20px;
}

.mainBody .left .container li{
	list-style-type: none;
}

.mainBody .left a{
	text-decoration-line: none;	
	color: #333;
}


/*
=======================MainBody right===========================
*/



.mainBody .right .imgContainer{
	font-size: 20px;
	display: grid;
	grid-template-columns: 210px 210px 210px;
	grid-template-rows: 230px 230px 230px;
}

.mainBody .right h2{
	font-size: 30px;
}

.mainBody .right .imgTextContainer{
	text-align: center;
}

.mainBody .right .imgImg{
	width: 200px;
	height: 200px;
}

.mainBody .right .imgText{
	height: 20px;
}
