@charset "UTF-8";

.register_table{
	width: 825px;
	border : 1px solid #5858AC;
	border-radius : 5px;
	background: #ffffff;
	border-collapse: collapse;
}

.register_table tr td input{
	outline-color : #7DC0CE;
	width: 170px;
	height: 10px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 5px 3px 1px #efefef;
	margin-right: 5px;
	border: 0.2px solid;
}

.register_table tr th{
	display: table-cell;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	width: 200px;
	line-height: 70px;
	color: #ffffff;
	background: linear-gradient(to right, #5858AC 79%, #7DC0CE 120%);
}

.th_lastchild{
	border-bottom: 0px !important;

}

.register_table tr td span{
	font-size : 11px;
}

.register_table tr td{
	padding: 10px;
	border-bottom: 1px solid;
}

.register_form_div{
	width:1050px;
	margin-left: auto;
	margin-right: auto;
}

.register_form_div tr{
	margin : 10px;
}

.register_btn{
	width: 150px;
}