@charset "UTF-8";


.content, .content_boards, .content_comment{
	justify-content: center;
}

.content_boards table{
	text-align: center;
	margin-left:auto; 
    margin-right:auto;
}

.content_header{
	width: 1050px;
	display: inline-block; 
	margin-left: auto; 
	margin-right: auto;
}

.boardcontent{
	position: relative;
	display: inline-block;
	width: 1050px;
	min-height: 500px;
	max-height: 100%;
}

.boardcontent img{
	display:block !important;  
	object-fit: scale-down;
	object-position: 50% 50%;
}
.boardcontent span{
	position: relative;
}

.boardcontent span p{
	position: relative;
}

.boardtitle{
	text-align: center;
	font-size: 40px;
}

.boardregisterdate{
	display: flex;
	float: right;
	
}

.boardmodifieddate{
	float: right;
}

.boardwriter{
	float: left;
}

.viewcount{
	float: right;
}

.recommendcount{
	float: right;
}


/* =======================================
				COMMENT
=======================================*/ 
.comment_div{
	width: 1050px;
	margin-left: auto; 
	margin-right: auto;
}

.comment{
	display: block;
	min-height: 100px;
	padding: 11px 11px 10px ;
	position : relative;
}

.comment_date{
	float: left;
}

.content_boards_div, .comment_content_div, .comment_write_div{
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

.comment_content{
	float: left;
}

.comment .comment_norecommend ,.comment .comment_recommend, .reply_btn{
	float: right;
}

.comment_writer, .comment_content{
	float: left;
}

.lv1{
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #ddd;
	margin: -1px;
}

.lv2{
	margin-left: 30px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #ddd;
	margin: -1px -1px -1px 30px;
}
.lv3{
	margin-left: 60px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #ddd;
	margin: -1px -1px -1px 60px;
}
.lv4{
	margin-left: 90px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #ddd;
	margin: -1px -1px -1px 90px;
}
.lv5{
	margin-left: 120px;
}
.lv6{
	margin-left: 150px;
}
.lv7{
	margin-left: 150px;
}
.lv8{
	margin-left: 150px;
}
.lv9{
	margin-left: 180px;
}

/*

*/
.reply_div{
	border-top: 1px solid;
}

.reply_div .recomment_write_input{
	width: 100%;
	min-height: 100px;
}
