@charset "UTF-8";


.tableContainer {
	text-align: center;
	width:1050px;
	margin-left: auto;
	margin-right: auto;
}

.paging{
	width: 825px;
}

.boardTable {
	width: 825px;
	text-align: center;
    border-left: 0px solid;
    border-right: 0px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    
    border-image: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
  	border-image-slice: 1;
}

.boardTable tbody{
    border-top: 1px solid;
    border-image: linear-gradient(to right, #5858AC 0%, #7DC0CE 100%);
  	border-image-slice: 1;
}

.content_header{
	width: 70%;
}
