<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    
    <th:block layout:fragment="head">
    	<title>[[${cateogory_name}]] / 라엘동물원</title>
    	
    	<script src="/js/jquery-3.6.2.min.js"></script>
        <!--/* css */-->
        <link th:href="@{/css/common.css}" rel="stylesheet" />
        <link th:href="@{/css/viewboards.css}" rel="stylesheet" />
    </th:block>
    <body>
        <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
		
        <div layout:fragment="content" class="content">
	        <div th:if="${not #lists.isEmpty(response.list)}" class="tableContainer">
	        	<table class="boardTable">
        			<thead class="boardTable_head">
        				<tr>
			            	<th class="category" th:text="분류"></th>
			            	<th class="title" th:text="제목"></th>
			            	<th class="writer" th:text="작성자"></th>
			            	<th class="date" th:text="날짜"></th>
			            	<th class="other" th:text="조회"></th>
			            	<th class="other" th:text="추천"></th>
	            		</tr>	
        			</thead>
        			<tbody th:with="List=${response.list}">
        				<tr th:each="board : ${List}">
			            	<td class="categoryname">
			            		<a th:href="'/board' + '/c' + ${board.categorynum}" th:text="${board.categoryname}"></a>
			            	</td>
			            	<td class="title">
			            		<span style="height: 50px; width: 70px; margin-top: auto; margin-bottom: auto; margin-right: 10px;">
			            			<th:block th:if="${category_num != null}">
				            			<th:block th:unless="${board.categorynum < 200} or ${board.categorynum > 299}">
				            				<img style="width:70px; height:50px" th:src="${board.imgpath}">
				            			</th:block>
				            		</th:block>
			            		</span>
			            		<span>
									<th:block th:if="${category_num == null}">
				            			<a 	th:href="'/board' + '/c' + ${board.categorynum} + '/b' + ${board.boardnum} + '?previouscategorynum=' + ${board.categorynum}" 
				            			th:text="${board.title}"></a>
				            			<th:block th:if="${board.commentcount != 0}">
				            				<span class="commentcount" th:text="'[' + ${board.commentcount} + ']'"></span>
				            			</th:block>
				            		</th:block>
				            		<th:block th:unless="${category_num == null}">
				            			<a 	th:href="'/board' + '/c' + ${board.categorynum} + '/b' + ${board.boardnum} + '?previouscategorynum=' + ${category_num}" 
				            			th:text="${board.title}"></a>
				            			<th:block th:if="${board.commentcount != 0}">
				            				<span class="commentcount" th:text="'[' + ${board.commentcount} + ']'"></span>
				            			</th:block>
				            		</th:block>
				            		<th:block th:if="${board.existimgfile == 'Y'}">
				            			<th:block th:if="${category_num == null}">
				            				<img class="existimg" style="width:11px; height:11px;" src="/img/Existimg_icon.PNG"/>
				            			</th:block>
				            			<th:block th:unless="${category_num == null}">
				            				<th:block th:if="${board.categorynum < 200} or ${board.categorynum > 299}">
					            				<img class="existimg" style="width:11px; height:11px;" src="/img/Existimg_icon.PNG"/>
					            			</th:block>
				            			</th:block>
				            		</th:block>
			            		</span>
			            	</td>
			            	
			            	<td class="writer" th:text="${board.writer}"></td>
			            	<td th:text="${board.registerdate}"></td>
			            	<td th:text="${board.viewcount}"></td>
			            	<td class="recommendcount" th:text="${board.recommendcount}"></td>
	            		</tr>
        			</tbody>
	        	</table>
	        	<div class="paging">
		    	</div>
			</div>
			<div th:unless="${not #lists.isEmpty(response.list)}" 
			style="
				text-align: center;
				width:1050px;
				margin-left: auto;
				margin-right: auto;">
				<p>게시물이 존재하지 않습니다.</p>
			</div>
			<div style="margin-left: auto; margin-right: auto;">
				<th:block th:if="${category_num} != null and ${loginstate} == true">
					<th:block th:if="${category_num} == 100 or ${category_num} >= 500">
					</th:block>
					<th:block th:unless="${category_num} == 100 or ${category_num} >= 500">
						<button th:categorynum="${category_num}" type="button" th:onclick="javascript:getWriteUrl(this.getAttribute('categorynum'))" style="">글쓰기</button>
					</th:block>
				</th:block>
			</div>
        </div>
        
        <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>	
    </body>
    <script th:inline="javascript">
	/*<![CDATA[*/
		window.onload = () => {
			findPaginationData();
			categoryname_colorchange();
		}
	
	
	      // 게시글 리스트 조회
		function findPaginationData() {
			console.log("나 실행 됐다 find");
			const pagination = [[ ${response.pagination} ]];
			const params = [[ ${params} ]];
	
	        drawPage(pagination, params);
		}
    
       	function getWriteUrl(categorynum){
       		location.href = "/board/c"+categorynum+"/write";
       	}
       	
		function drawPage(pagination, params) {
            if ( !pagination || !params ) {
              $('.paging').text('');
              throw new Error('Missing required parameters...');
            }

            // 첫 페이지, 이전 페이지
            if (pagination.existPrevPage) {
            	$('.paging').append(
                  '<a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first">첫 페이지</a>'+
                  '<a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>');
            }

            // 페이지 번호
            for (var i = pagination.startPage; i <= pagination.endPage; i++) {
            	$('.paging').append(
				(i !== params.page) ? '<a href="javascript:void(0);" onclick="movePage('+i+');">'+i+'</a>' : '<span class="on">'+i+'</span>');
            }

            // 다음 페이지, 마지막 페이지
            if (pagination.existNextPage) {
            	$('.paging').append(
                  '<a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>'+
                  '<a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>');
            }

          }
		

	// 페이지 이동
	function movePage(page) {
		const queryParams = {
			searchType : [[${params.searchType}]],
			keyword : [[${params.keyword}]],
			page: (page) ? page : 1,
			recordSize: 20,
			pageSize: 10
		}
		
		location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
	}
          
	function categoryname_colorchange(){
		var temp = $('.boardTable').children('tbody').children('tr').children('.categoryname');
		
		for(i = 0; i < temp.length; i++){
			switch(temp[i].innerText){
				case '유머':
					$(temp[i]).children('a').css('color','red');
					break;
				case '고민':
					$(temp[i]).children('a').css('color','blue');
					break;
				case '이슈':
					$(temp[i]).children('a').css('color','navy');
					break;
				case '자유':
					$(temp[i]).children('a').css('color','brown');
					break;
			}
		}
	}
       	
	/*]]>*/
    </script>
</html>

