<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="head">
	<title>[[${data.title}]] / 라엘동물원</title>

	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}">

	<script src="/js/jquery-3.6.2.min.js"></script>
	<script src="/js/comment.js"></script>
	<script src="/js/recommend.js"></script>
	<!--/* css */-->
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/viewboard.css}" rel="stylesheet" />
</th:block>
<body>
	<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>

	<div layout:fragment="content" class="content">
		<div class="mainbody">
			<div class="content_header">
				<input type="hidden" class="iboardnum" value="${iboardnum}" readonly>
				<div class="boardtitle_div">
					<th:block th:if="${data.registerdate == data.modifieddate}">
						<span class="boardregisterdate">
							[[${data.registerdate}]]</span>
					</th:block>
					<th:block th:if="${data.registerdate != data.modifieddate}">
						<span class="boardmodifieddate">(수정됨)
							[[${data.modifieddate}]]</span>
					</th:block>
					<label for="boardtitle"><span class="boardtitle">[[${data.title}]]</span>
					</label>
				</div>
	
				<div class="boardwriter_div">
					<span class="boardwriter"> [[${data.writer}]]</span> 
					<span class="recommendcount">추천 수 [[${data.recommendcount}]]</span>
					<span class="viewcount">조회 수 [[${data.viewcount}]]&nbsp;</span>
				</div>
			</div>
	
			<div class="boardcontent">
				<span class="card-body text-dark" th:utext="${data.content}"></span>
			</div>
				<div class="recommend_block">
					<p>
						<button class="recommendbutton" th:iboardnum="${iboardnum}"
							th:onclick="javascript:recommend_board(this.getAttribute('iboardnum'), 'Y')">추천</button>
						&nbsp;[[${recommendcount}]]&nbsp;
						<button class="norecommendbutton" th:iboardnum="${iboardnum}"
							th:onclick="javascript:recommend_board(this.getAttribute('iboardnum'), 'N')">비추천</button>
					</p>
					<th:block th:if="${checkwriter} == 1">
						<button class="modifybutton" type="button" th:categorynum="${ctn}" th:boardnum="${bn}" 
						th:onclick="javascript:modifyboard(this.getAttribute('categorynum'),this.getAttribute('boardnum'))">게시물 수정하기</button>
					</th:block>
				</div>

			
		<div layout:fragment="content_comment" class="content_comment">
		<div class="comment_div">
			<th:block th:if="${not #lists.isEmpty(commentList.list)}">
				<ul class="comment_ul">
					<li th:each="comment : ${commentList.list}" th:class="comment" th:classappend="lv + ${comment.level}" th:id="cn + ${comment.commentno}" style="list-style: none;"><span class="comment_writer">[[${comment.writer}]]
					</span> 
					<div class="comment_header_div">
						<button class="reply_btn" 
							th:level="${comment.level}"
							th:iboardnum="${comment.iboardnum}"
							th:parentcommentno="${comment.commentno}"
							th:page="${commentParams.page}" 
							th:onclick="javascript:viewWriteRecomment(this,this.getAttribute('level'),this.getAttribute('iboardnum'),this.getAttribute('parentcommentno'),this.getAttribute('page'))">답글</button>
						<span class="comment_norecommend">
								<button type="button" th:iboardnum="${comment.iboardnum}"
									th:commentno="${comment.commentno}" th:recommend="N" th:recommendcountvalue=${comment.norecommendcount}
									th:onclick="javascript:recommend_comment(this.getAttribute('iboardnum'), this.getAttribute('commentno'), this.getAttribute('recommend'), this, this.getAttribute('recommendcountvalue'))">비추천</button>&nbsp;
								<span class="comment_recomment_count">[[${comment.norecommendcount}]]&nbsp;&nbsp;</span>
						</span>
						<span class="comment_recommend">
								<button type="button" th:iboardnum="${comment.iboardnum}"
									th:commentno="${comment.commentno}" th:recommend="Y" th:recommendcountvalue=${comment.recommendcount}
									th:onclick="javascript:recommend_comment(this.getAttribute('iboardnum'), this.getAttribute('commentno'), this.getAttribute('recommend'), this, this.getAttribute('recommendcountvalue'))">추천</button>&nbsp;
								<span class="comment_recomment_count">[[${comment.recommendcount}]]&nbsp;&nbsp;</span>
						</span> 
						
						
						<th:block
							th:if="${comment.registereddate == comment.modifieddate}">
							<span class="comment_date">&nbsp;[[${comment.registereddate}]]
							</span>
						</th:block> <th:block
							th:unless="${comment.registereddate == comment.modifieddate}">
							<span class="comment_date">
								&nbsp;(수정됨)[[${comment.modifieddate}]] </span>
						</th:block>
					</div>
						<div class="comment_content_div">
							<p class="comment_content"><span class="parent_nickname">[[${comment.parentwriter}]]</span>&nbsp;[[${comment.content}]]</p>
						</div> 
					</li>
					
				</ul>

			</th:block>
			<th:block th:unless="${not #lists.isEmpty(commentList.list)}">
            </th:block>
		</div>
		<div class="paging">
		</div>
		<div class="comment_write_div_background">
			<div class="comment_write_div_input">
				<textarea 
					class="comment_write_input" 
					id="comment_write_input"
					placeholder="댓글 작성 구간"></textarea>
				<button type="button" class="comment_submit_button" 
					th:iboardnum="${iboardnum}"
					th:endpage=${commentParams.pagination.endPage}
					th:onclick="javascript:writeComment(this.getAttribute('iboardnum'), this.getAttribute('endpage'))"></button>
			</div>
			
		</div>
	</div>
	<div layout:fragment="content_boards" class="content_boards">
		<div class="content_boards_div">
			<span>이전 게시판 </span>
			<th:block th:if="${pboard != null}">
				<table>
					<tr>
						<td><a th:href="'/board' + '/c' + ${pboard.categorynum}"
							th:text="${pboard.categoryname}"></a></td>
						<td><a
							th:href="'/board' + '/c' + ${pboard.categorynum} + '/b' + ${pboard.boardnum} + '?previouscategorynum=' + ${category_num}"
							th:text="${pboard.title} + ' ' +${pboard.existimgfile}"></a></td>
						<td th:text="${pboard.writer}"></td>
						<td th:text="${pboard.registerdate}"></td>
						<td th:text="${pboard.viewcount}"></td>
						<td th:text="${pboard.recommendcount}"></td>
					</tr>
				</table>
			</th:block>
			<th:block th:unless="${pboard != null}">
				<p>게시물이 존재하지 않습니다.</p>
			</th:block>
			<span>다음 게시판 </span>
			<th:block th:if="${nboard != null}">
				<table>
					<tr>
						<td><a th:href="'/board' + '/c' + ${nboard.categorynum}"
							th:text="${nboard.categoryname}"></a></td>
						<td><a
							th:href="'/board' + '/c' + ${nboard.categorynum} + '/b' + ${nboard.boardnum} + '?previouscategorynum=' + ${category_num}"
							th:text="${nboard.title} + ' ' +${nboard.existimgfile}"></a></td>
						<td th:text="${nboard.writer}"></td>
						<td th:text="${nboard.registerdate}"></td>
						<td th:text="${nboard.viewcount}"></td>
						<td th:text="${nboard.recommendcount}"></td>
					</tr>
				</table>
			</th:block>
			<th:block th:unless="${nboard != null}">
				<p>게시물이 존재하지 않습니다.</p>
			</th:block>
			<div th:if="${not #lists.isEmpty(boarddata.list)}" class="tableContainer">
	        	<table class="boardTable">
        			<thead>
        				<tr>
			            	<th th:text="카테고리"></th>
			            	<th th:text="제목"></th>
			            	<th th:text="작성자"></th>
			            	<th th:text="등록날짜"></th>
			            	<th th:text="조회수"></th>
			            	<th th:text="추천수"></th>
	            		</tr>	
        			</thead>
        			<tbody th:with="List=${boarddata.list}">
        				<tr th:each="board : ${List}">
			            	<td><a th:href="'/board' + '/c' + ${board.categorynum}" th:text="${board.categoryname}"></a> </td>
			            	<th:block th:if="${board.content == null}">
			            		<td>
			            		<th:block th:if="${category_num == null}">
			            			<a 	th:href="'/board' + '/c' + ${board.categorynum} + '/b' + ${board.boardnum} + '?previouscategorynum=' + ${board.categorynum}" 
			            			th:text="${board.title} + ' ' +${board.existimgfile}"></a>
			            		</th:block>
			            		<th:block th:unless="${category_num == null}">
			            			<a 	th:href="'/board' + '/c' + ${board.categorynum} + '/b' + ${board.boardnum} + '?previouscategorynum=' + ${category_num}" 
			            			th:text="${board.title} + ' ' +${board.existimgfile}"></a>
			            		</th:block>
			            	</td>
			            	</th:block>
			            	<th:block th:unless="${board.content == null}">
			            		<td class="nowBoardPageTitle" th:text="${board.title}"></td>
			            	</th:block>
			            	
			            	<td th:text="${board.writer}"></td>
			            	<td th:text="${board.registerdate}"></td>
			            	<td th:text="${board.viewcount}"></td>
			            	<td th:text="${board.recommendcount}"></td>
	            		</tr>
        			</tbody>
	        	</table>
			</div>
			<div class="board_paging">
		    </div>
		</div>
	</div>
		</div>
	</div>



	
	<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
</body>
    <script th:inline="javascript">
	/*<![CDATA[*/
		window.onload = () => {
			findPaginationData();
			board_findPaginationData();
		}
	
	
	      // 게시글 리스트 조회
		function findPaginationData(page) {
			
			const pagination = [[ ${commentList.pagination} ]];
			const params = [[ ${commentParams} ]];
			const iboardnum = [[ ${iboardnum} ]];
			
			if(page != null) params.page = page;
			console.log(params);
			
			if(pagination.endPage == 0){
				
			}
			else drawPage(pagination, params, iboardnum);
     
		}
	      
		function drawPage(pagination, params, iboardnum) {
			var commentpaging = $('.paging');
			commentpaging.text('');
            if ( !pagination || !params ) {
            	commentpaging.text('');
              throw new Error('Missing required parameters...');
            }

            // 첫 페이지, 이전 페이지
            if (pagination.existPrevPage) {
            	commentpaging.append(
                  '<a href="javascript:void(0);" onclick="movePage(1, \''+iboardnum+'\')" class="page_bt first">첫 페이지</a>'+
                  '<a href="javascript:void(0);" onclick="movePage('+pagination.startPage - 1+', \''+iboardnum+'\')" class="page_bt prev">이전 페이지</a>');
            }

            // 페이지 번호
            for (var i = pagination.startPage; i <= pagination.endPage; i++) {
            	commentpaging.append(
				(i !== params.page) ? '<a href="javascript:void(0);" onclick="movePage('+i+', \''+iboardnum+'\');">'+i+'</a>' : '<span class="on">'+i+'</span>');
            }

            // 다음 페이지, 마지막 페이지
            if (pagination.existNextPage) {
            	commentpaging.append(
                  '<a href="javascript:void(0);" onclick="movePage('+pagination.endPage + 1 +',\''+iboardnum+'\');" class="page_bt next">다음 페이지</a>'+
                  '<a href="javascript:void(0);" onclick="movePage('+pagination.totalPageCount +',\''+iboardnum+'\');" class="page_bt last">마지막 페이지</a>');
            }

          }
		

          // 페이지 이동
			function movePage(page, iboardnum) {
				const queryParams = {
					iboardnum : iboardnum,
					page: (page) ? page : 1,
					recordSize: 50,
					pageSize: 10
				}
            
				var when1 = $(".comment_div").load("/comment/view"+ '?' + new URLSearchParams(queryParams).toString());
				var when2 = findPaginationData(page); 
				
            	$.when( when1, when2 )
            	.done(
            			function(){
            				var topleft = $(".comment_ul").find("li:first").offset();
            				window.scrollTo({top:topleft.top, left:topleft.left, behavior:'smooth'});
            			});
			}
          
			function board_findPaginationData(page) {
				
				const pagination = [[ ${boarddata.pagination} ]];
				const params = [[ ${params} ]];
				const categorynum = [[ ${category_num} ]];
				
				if(page != null) params.page = page;
				console.log(params);
				
				if(pagination.endPage == 0){
					
				}
				else board_drawPage(pagination, params, categorynum);
	     
			}
		      
			function board_drawPage(pagination, params, categorynum) {
				var boardpaging = $('.board_paging');
				boardpaging.text('');
	            if ( !pagination || !params ) {
	            	boardpaging.text('');
	              throw new Error('Missing required parameters...');
	            }

	            // 첫 페이지, 이전 페이지
	            if (pagination.existPrevPage) {
	            	boardpaging.append(
	                  '<a href="javascript:void(0);" onclick="board_movePage(1, \''+categorynum+'\')" class="page_bt first">첫 페이지</a>'+
	                  '<a href="javascript:void(0);" onclick="board_movePage('+pagination.startPage - 1+', \''+categorynum+'\')" class="page_bt prev">이전 페이지</a>');
	            }

	            // 페이지 번호
	            for (var i = pagination.startPage; i <= pagination.endPage; i++) {
	            	boardpaging.append(
					(i !== params.page) ? '<a href="javascript:void(0);" onclick="board_movePage('+i+', \''+categorynum+'\');">'+i+'</a>' : '<span class="on">'+i+'</span>');
	            }

	            // 다음 페이지, 마지막 페이지
	            if (pagination.existNextPage) {
	            	boardpaging.append(
	                  '<a href="javascript:void(0);" onclick="board_movePage('+pagination.endPage + 1 +',\''+categorynum+'\');" class="page_bt next">다음 페이지</a>'+
	                  '<a href="javascript:void(0);" onclick="board_movePage('+pagination.totalPageCount +',\''+categorynum+'\');" class="page_bt last">마지막 페이지</a>');
	            }

	          }
			

	          // 페이지 이동
				function board_movePage(page, categorynum) {
					const queryParams = {
						categorynum : categorynum,
						page: (page) ? page : 1,
						recordSize: 20,
						pageSize: 10
					}
	            
					var when1 = $(".tableContainer").load("/boards/view"+ '?' + new URLSearchParams(queryParams).toString());
					var when2 = board_findPaginationData(page); 
					
	            	$.when( when1, when2 )
	            	.done(
	            			function(){
	            				var topleft = $(".tableContainer").find("tr:first").offset();
	            				window.scrollTo({top:topleft.top, left:topleft.left, behavior:'smooth'});
	            			});
				}
	/*]]>*/
    </script>
</html>