<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    
    <th:block layout:fragment="head">
    	<title>[[${cateogory_name}]] / 라엘동물원</title>
        <!--/* css */-->
        <link th:href="@{/css/common.css}" rel="stylesheet" />
        <link th:href="@{/css/viewboards.css}" rel="stylesheet" />
    </th:block>
    <body>
        <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
		
        <div layout:fragment="content" class="content">
	        <div th:if="${not #lists.isEmpty(boardList)}" class="tableContainer">
	        	<table class="boardTable">
        			<thead>
        				<tr>
			            	<th th:text="카테고리"></th>
			            	<th th:text="제목"></th>
			            	<th th:text="작성자"></th>
			            	<th th:text="등록날짜"></th>
			            	<th th:text="조회수"></th>
			            	<th th:text="추천수"></th>
	            		</tr>	
        			</thead>
        			<tbody>
        				<tr th:each="board : ${boardList}">
			            	<td><a th:href="'/board' + '/c' + ${board.categorynum}" th:text="${board.categoryname}"></a> </td>
			            	<td><a 	th:href="'/board' + '/c' + ${board.categorynum} + '/b' + ${board.boardnum} + '?previouscategorynum=' + ${category_num}" 
			            			th:text="${board.title} + ' ' +${board.existimgfile}"></a></td>
			            	<td th:text="${board.writer}"></td>
			            	<td th:text="${board.registerdate}"></td>
			            	<td th:text="${board.viewcount}"></td>
			            	<td th:text="${board.recommendcount}"></td>
	            		</tr>
        			</tbody>

	        	</table>
			</div>
			<div th:unless="${not #lists.isEmpty(boardList)}">
				<p>게시물이 존재하지 않습니다.</p>
			</div>
			<button type="button" th:onclick="location.href=getWriteUrl()">글쓰기</button>
        
        </div>
        
        <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>	
    </body>
    <script>
       	function getWriteUrl(){
       		return  window.location.protocol + "//" + window.location.host + window.location.pathname + "/write";
       	}
    </script>
</html>

