<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<table class="boardTable" style="margin-left: 0px;">
		<thead class="boardTable_head">
			<tr>
				<th class="category" th:text="분류"></th>
				<th class="title" th:text="제목"></th>
				<th class="writer" th:text="작성자"></th>
				<th class="date" th:text="날짜"></th>
				<th class="other" th:text="조회"></th>
				<th class="other" th:text="추천"></th>
			</tr>
		</thead>
		<tbody th:with="List=${boarddata.list}">
			<tr th:each="board : ${List}">
				<td class="categoryname"><a
					th:href="'/board' + '/c' + ${board.categorynum}"
					th:text="${board.categoryname}"></a></td>
				<th:block th:if="${board.content == null}">
					<td class="title"><th:block th:if="${category_num == null}">
							<a
								th:href="'/board' + '/c' + ${board.categorynum} + '/b' + ${board.boardnum} + '?previouscategorynum=' + ${board.categorynum}"
								th:text="${board.title} + ' ' +${board.existimgfile}"></a>
						</th:block> <th:block th:unless="${category_num == null}">
							<a
								th:href="'/board' + '/c' + ${board.categorynum} + '/b' + ${board.boardnum} + '?previouscategorynum=' + ${category_num}"
								th:text="${board.title} + ' ' +${board.existimgfile}"></a>
						</th:block></td>
				</th:block>
				<th:block th:unless="${board.content == null}">
					<td style="text-align: left; color: #888;"
						class="nowBoardPageTitle" th:text="${board.title}"></td>
				</th:block>

				<td class="writer" th:text="${board.writer}"></td>
				<td th:text="${board.registerdate}"></td>
				<td th:text="${board.viewcount}"></td>
				<td class="reommendcount" th:text="${board.recommendcount}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>