<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<th:block th:if="${not #lists.isEmpty(commentList)}">
		<ul class="comment_ui">
			<li th:each="comment : ${commentList}" th:class="comment" th:classappend="lv + ${comment.level}" th:id="cn + ${comment.commentno}" style="list-style: none;"><span class="comment_writer">[[${comment.writer}]]
			</span>
				<div class="comment_header_div">
					<button class="reply_btn" type="button"
							th:onclick="javascript:viewWriteRecomment(this)">답글</button>
					<span class="comment_norecommend">
							<button type="button" th:iboardnum="${comment.iboardnum}"
								th:commentno="${comment.commentno}" th:recommend="N" th:recommendcountvalue=${comment.norecommendcount}
								th:onclick="javascript:recommend_comment(this.getAttribute('iboardnum'), this.getAttribute('commentno'), this.getAttribute('recommend'), this, this.getAttribute('recommendcountvalue'))">비추천</button>&nbsp;
							<span class="comment_recomment_count">[[${comment.norecommendcount}]]&nbsp;&nbsp;</span>
					</span>
					<span class="comment_recommend">
							<button type="button" th:iboardnum="${comment.iboardnum}"
								th:commentno="${comment.commentno}" th:recommend="Y" th:recommendcountvalue=${comment.recommendcount}
								th:onclick="javascript:recommend_comment(this.getAttribute('iboardnum'), this.getAttribute('commentno'), this.getAttribute('recommend'), this, this.getAttribute('recommendcountvalue'))">추천</button>&nbsp;
							<span class="comment_recomment_count">[[${comment.recommendcount}]]&nbsp;&nbsp;</span>
					</span> 
					
					<th:block
						th:if="${comment.registereddate == comment.modifieddate}">
						<span class="comment_date"> &nbsp;[[${comment.registereddate}]]
						</span>
					</th:block> <th:block
						th:unless="${comment.registereddate == comment.modifieddate}">
						<span class="comment_date">
							&nbsp;(수정됨)[[${comment.modifieddate}]] </span>
					</th:block>
	
					<div class="comment_content_div">
						<p class="comment_content"><span class="parent_nickname">[[${comment.parentwriter}]]</span>&nbsp;[[${comment.content}]]</p>
				</div>
					
				</div>
				<div class="reply_div" style="display: none;">
						<input class="recomment_write_input" id="recomment_write_input" placeholder="답글을 남겨주세요">
					
						<button type="button" class="comment_submit_button"
						th:iboardnum="${comment.iboardnum}"
						th:parentcommentno=${comment.commentno}
						th:onclick="javascript:writeRecomment(this.getAttribute('iboardnum'), this.getAttribute('parentcommentno'), this)">쓰기</button>
				</div>
			</li>			
		</ul>
		
	</th:block>
	<th:block th:unless="${not #lists.isEmpty(commentList)}">
          	댓글이 존재하지 않습니다.
          </th:block>
</body>
</html>