<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="header">
        <div class="top">
			<ul>
				<li class="logoLi">
					<img class="bannerImg" src="/img/LOGO.PNG" width="450" height="75" >
				</li>
				<li>
					<div class="bestAnimal">
						<a>오늘의 최고의 반려!</a> 
						<p class="animalPicture_Ptag" style="margin:0; display: inline-block;"><img class="animalPicture" src="/img/bow.PNG" style="width:90px;height:80px">
							<span class="animalName" style="margin:0; bottom:50%;">바우!</span>
						</p>
					</div>
				</li>
				<li class="tagLi" style="float:right;"><a class="active">태그 별 보기</a></li>
			</ul>
		</div>
	
		<ul class="mainNav">
			<li><a href="#BestBoard">인기글</a></li>
			<li><a href="#MyAnimal">나의 반려</a></li>
			<li><a href="#AnimalBest">동물 최고</a></li>
			<li><a href="#Community">커뮤니티</a></li>
			<li><a href="#GoodMan">좋은 집사 되기</a></li>
			<li><a href="#SoSick">소식</a></li>
			<li><a href="#Jungo">중고장터</a></li>
			<li><a href="#BestMan">명예의 전당</a></li>	
		</ul>
    </div>
</html>