<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="header">
        <div class="top">
			<ul>
				<li class="logoLi">
					<img class="bannerImg" src="/img/LOGO.PNG" width="450" height="75" >
				</li>
				<li>
					<div class="bestAnimal">
						<a>오늘의 최고의 반려!</a> 
						<p class="animalPicture_Ptag" style="margin:0; display: inline-block;"><img class="animalPicture" src="/img/bow.PNG" style="width:90px;height:80px">
							<span class="animalName" style="margin:0; bottom:50%;">바우!</span>
						</p>
					</div>
				</li>
				<li class="tagLi" style="float:right;"><a class="active">태그 별 보기</a></li>
			</ul>
		</div>
		<ul class="mainNav">
			<li class="category_names">
				<a class="category_name" href="/board/c100">인기글</a>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c200">나의 반려</a>
				<div class="category_list">
					<ul class="category_ul">
						<li class="category_li">
							<a class="category_detail" href="/board/c201">강아지</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c202">고양이</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c203">새</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c204">파충류</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c205">물고기</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c206">기타</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c300">동물 최고</a>
				<div class="category_list">
					<ul class="category_ul">
						<li class="category_li">
							<a class="category_detail" href="/board/c301">동물 백과사전</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c302">좋은 집사 되기</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c303">동물가 뉴스</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c304">동물 지식IN</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c400">커뮤니티</a>
				<div class="category_list">
					<ul class="category_ul">
						<li class="category_li">
							<a class="category_detail" href="/board/c401">유머</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c402">고민</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c403">자유</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c404">이슈</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c500">소식</a>
				<div class="category_list">
					<ul class="category_ul">
						<li class="category_li">
							<a class="category_detail" href="/board/c501">공지사항</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c502">이벤트</a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c503">아이콘샵</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c600">명예의 전당</a>
			</li>	
		</ul>
    </div>
</html>