<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="header">
    	<div class="headerNav">
    		<th:block th:if="${#authentication.getPrincipal()} == 'anonymousUser'">
	    		<p>
	    			<a href="/login">로그인</a>
	    			<a href="/register_agree">회원 가입&nbsp;</a>
	    		</p>
    		</th:block>
    		<th:block th:unless="${#authentication.getPrincipal()} == 'anonymousUser'">
	    		<p>
	    			<a href="/logout">로그아웃</a>
    				<a>마이 페이지</a>
	    		</p>
    		</th:block>
    	</div>
        <div class="top">
        	<a href="/"><img class="bannerImg" src="/img/LOGO.PNG" width="360" height="60" ></a>
			<div class="bestAnimal">
				<span><img class="animalPicture" src="/img/bow.PNG"></span>
				<span class="bestAnimal_title">축하합니다! 이 달의 최고의 반려!</span>
				<span class="animalName">바우!</span>
			</div>
			<div class="search_div">
				<input class="searchInput_header" type="text" placeholder="통합검색"><button type="button" th:onclick="javascript:search('all')">검색</button>
			</div>
		</div>
		<ul class="mainNav">
			<li class="category_names">
				<a class="category_name" href="/board/c100"><p>인기글</p></a>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c200"><p>나의 반려</p></a>
				<div class="category_list">
					<ul class="category_ul">
						<li class="category_li">
							<a class="category_detail" href="/board/c201"><p>강아지</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c202"><p>고양이</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c203"><p>새</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c204"><p>파충류</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c205"><p>물고기</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c206"><p>기타</p></a>
						</li>
					</ul>
				</div>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c300"><p>동물 최고</p></a>
				<div class="category_list">
					<ul class="category_ul">
						<li class="category_li">
							<a class="category_detail" href="/board/c301"><p>동물 백과사전</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c302"><p>좋은 집사 되기</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c303"><p>동물가 뉴스</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c304"><p>동물 지식IN</p></a>
						</li>
					</ul>
				</div>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c400"><p>커뮤니티</p></a>
				<div class="category_list">
					<ul class="category_ul">
						<li class="category_li">
							<a class="category_detail" href="/board/c401"><p>유머</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c402"><p>고민</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c403"><p>자유</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c404"><p>이슈</p></a>
						</li>
					</ul>
				</div>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c500"><p>소식</p></a>
				<div class="category_list">
					<ul class="category_ul">
						<li class="category_li">
							<a class="category_detail" href="/board/c501"><p>공지사항</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c502"><p>이벤트</p></a>
						</li>
						<li class="category_li">
							<a class="category_detail" href="/board/c503"><p>아이콘샵</p></a>
						</li>
					</ul>
				</div>
			</li>
			<li class="category_names">
				<a class="category_name" href="/board/c600"><p>명예의 전당</p></a>
			</li>	
		</ul>
    </div>
    <script>
    	$('.category_names')
    		.mouseenter(
   				function(){
   					var categorylist = $(this).children('.category_list');
   					
   					if(categorylist.length == 0){
   					}
   					else{
   						categorylist.css('display', 'block');
   						
   	   					$(this).children('.category_name').css('border-bottom','0');
   					}
   					
   					
   					
   				})
	    	.mouseleave(
    			function(){
    				$(this).children('.category_list').css('display', 'none');	
    				$(this).children('.category_name').css('border','0');
    			});
    	
    	;
    	
    	function search(searchType){
    		var keyword = $('.searchInput_header').val();
    		const searchParam = {
    			searchType: searchType,
    			keyword: keyword
    		};
    		
    		location.href = '/board/c' + '?' + new URLSearchParams(searchParam).toString();
    		console.log('/board/c' + '?' + new URLSearchParams(searchParam).toString());
    	}
    </script>
</html>