<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="recomment_write_div" th:unless="${#lists.isEmpty(recommentList)}">
		<ul th:each="recomment : ${recommentList}">
			<li class="recomment"><span class="recomment_writer">[[${recomment.writer}]]
			</span> <span class="recomment_recommend">
					<button type="button" th:iboardnum="${recomment.iboardnum}"
						th:commentno="${recomment.commentno}"
						th:onclick="javascript:recommend_comment(this.getAttribute(\'iboardnum\'), this.getAttribute(\'commentno\'), this.getAttribute(\'seq\'))">추천</button>&nbsp;
					[[${recomment.recommendcount}]]
			</span> <span class="recomment_norecommend">
					<button>비추천</button>&nbsp; [[${recomment.norecommendcount}]]
			</span> <th:block
					th:if="${recomment.registereddate == recomment.modifieddate}">
					<span class="recomment_date">
						[[${recomment.registereddate}]] </span>
				</th:block> <th:block
					th:unless="${recomment.registereddate == recomment.modifieddate}">
					<span class="recomment_date">
						(수정됨)[[${recomment.modifieddate}]] </span>
				</th:block>
				<div class="recomment_content_div">
					<p class="recomment_content">[[${recomment.content}]]</p>
				</div>
				<button type="button" th:recommentwriter="${recomment.writer}"
					th:onclick="javascript:viewWriteRecommentReply(this, this.getAttribute('recommentwriter'))">답글</button>
			</li>
		</ul>
		<button type="button" th:onclick="javascript:hideRecomments(this)">답글숨기기</button>
	</div>
</body>
</html>