<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    
    <th:block layout:fragment="head">
    	<title>TEST PAGE</title>
		
        <!--/* css */-->
        <link th:href="@{/css/common.css}" rel="stylesheet" />
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </th:block>
    <body>
        <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
		
        <div layout:fragment="content" class="content">
        <div class="mainBody">
			<div class="left">
				<div class="container">
					<a th:href="|/board/c100|">인기글</a>
					<th:block th:if="${!#lists.isEmpty(dataList1)}">
						<ul>
							<li th:each="content : ${dataList1}">
								<a th:href="@{'/board/' + ${content.categorynum} + '/' + ${content.boardnum}}" th:text="${content.title}"></a>
							</li>
						</ul>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList1)}">
						<div class="none-div">
							<a>등록된 게시물이 없습니다.</a>
						</div>
					</th:block>
				</div>
				<hr>
				<div class="container">
					<h2 th:href="|/board/c200|">유머</h2>
					<th:block th:if="${!#lists.isEmpty(dataList2)}">
						<ul>
							<li th:each="content : ${dataList2}">
								<a th:href="@{'/board/' + ${content.categorynum} + '/' + ${content.boardnum}}" th:text="${content.title}"></a>
							</li>
						</ul>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList2)}">
						<div class="none-div">
							<a>등록된 게시물이 없습니다.</a>
						</div>
					</th:block>
				</div>
				<hr>
				<div class="container">
					<h2 th:href="|/board/c300|">좋은 집사 되기</h2>
					<th:block th:if="${!#lists.isEmpty(dataList3)}">
						<ul>
							<li th:each="content : ${dataList3}">
								<a th:href="@{'/board/' + ${content.categorynum} + '/' + ${content.boardnum}}" th:text="${content.title}"></a>
							</li>
						</ul>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList3)}">
						<div class="none-div">
							<a>등록된 게시물이 없습니다.</a>
						</div>
					</th:block>
				</div>
				
			</div>
			<div class="right">
				<h2 th:href="|/board/c400|">나의 반려</h2>
				<div class="imgContainer">
					<th:block th:if="${!#lists.isEmpty(dataList4)}">
						<div th:each="content : ${datalist4}" class="imgTextContainer">
							<img class="imgImg" src="${content.imgpath}" th:href="@{'/board/' + ${content.categorynum} + '/' + ${content.boardnum}}">
							<a class="imgText" th:href="@{'/board/' + ${content.categorynum} + '/' + ${content.boardnum}}" th:text="${content.title}"></a>
						</div>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList4)}">
						<div class="none-div">
							<a>게시물이 없습니다.</a>
						</div>
					</th:block>
	
				</div>
				<h2 th:href="|/board/c500|">동물가 뉴스</h2>
				<div class="imgContainer_news">
					<th:block th:if="${!#lists.isEmpty(dataList5)}">
						<div th:each="content : ${datalist4}" class="imgTextContainer_news">
							<img class="imgImg" src="${content.imgpath}" th:href="@{'/board/' + ${content.categorynum} + '/' + ${content.boardnum}}">
							<a class="imgText" th:href="@{'/board/' + ${content.categorynum} + '/' + ${content.boardnum}}" th:text="${content.title}"></a>
						</div>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList5)}">
						<div class="none-div">
							<a>게시물이 없습니다.</a>
						</div>
					</th:block>
	
				</div>
			</div>
		</div>
	</div>
        
        <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>	
    </body>
</html>
