<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="head">
	<title>TEST PAGE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/jquery-3.6.2.min.js"></script>
	<!--/* css */-->
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</th:block>
<body>
	<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
	
	<div layout:fragment="content" class="content">
		<ul class="mainbody">
			<li class="left">
				<div class="container">
					<a class="categoryTitle" th:href="|/board/c100|">인기글</a>
					<th:block th:if="${!#lists.isEmpty(dataList1)}">
						<ul>
							<li class="boardTitle" th:each="content : ${dataList1}">

								<a th:href="@{'/board/c' + ${content.categorynum} + '/b' + ${content.boardnum} + '?previouscategorynum=100'}"
								th:text="${content.title}"></a>
								<th:block th:if="${content.commentcount != 0}">
		            				<span class="commentcount" th:text="'[' + ${content.commentcount} + ']'"></span>
		            			</th:block>
							
								<th:block th:if="${content.existimgfile == 'Y'}">
									<img class="existimg" style="width:11px; height:11px;" src="/img/Existimg_icon.PNG"/>
								</th:block>
							</li>
						</ul>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList1)}">
						<div class="none-div">
							<a class="boardEmpty">등록된 게시물이 없습니다.</a>
						</div>
					</th:block>
				</div>
				<hr class="mainBoardLine">
				<div class="container">
					<a class="categoryTitle" th:href="|/board/c401|">유머</a>
					<th:block th:if="${!#lists.isEmpty(dataList4)}">
						<ul>
							<li class="boardTitle" th:each="content : ${dataList4}">
								<a th:href="@{'/board/c' + ${content.categorynum} + '/b' + ${content.boardnum} + '?previouscategorynum=401'}"
								th:text="${content.title}"></a>
								<th:block th:if="${content.commentcount != 0}">
		            				<span class="commentcount" th:text="'[' + ${content.commentcount} + ']'"></span>
		            			</th:block>
							
								<th:block th:if="${content.existimgfile == 'Y'}">
									<img class="existimg" style="width:11px; height:11px;" src="/img/Existimg_icon.PNG"/>
								</th:block></li>
						</ul>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList4)}">
						<div class="none-div">
							<a class="boardEmpty">등록된 게시물이 없습니다.</a>
						</div>
					</th:block>
				</div>
				<hr class="mainBoardLine">
				<div class="container">
					<a class="categoryTitle" th:href="|/board/c303|">동물가 뉴스</a>
					<th:block th:if="${!#lists.isEmpty(dataList3)}">
						<ul>
							<li class="boardTitle" th:each="content : ${dataList3}">
								<a th:href="@{'/board/c' + ${content.categorynum} + '/b' + ${content.boardnum} + '?previouscategorynum=303'}"
								th:text="${content.title}"></a>
								<th:block th:if="${content.commentcount != 0}">
		            				<span class="commentcount" th:text="'[' + ${content.commentcount} + ']'"></span>
		            			</th:block>
								<th:block th:if="${content.existimgfile == 'Y'}">
									<img class="existimg" style="width:11px; height:11px;" src="/img/Existimg_icon.PNG"/>
								</th:block>
							</li>
						</ul>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList3)}">
						<div class="none-div">
							<a class="boardEmpty">등록된 게시물이 없습니다.</a>
						</div>
					</th:block>
				</div>
			<hr class="mainBoardLine">
			</li>
			<li class="right"><a class="categoryTitle" th:href="|/board/c200|">나의 반려</a>
				<div class="imgContainer">
					<th:block th:if="${!#lists.isEmpty(dataList2)}">
						<div th:each="content : ${dataList2}" class="imgTextContainer">
							<a th:href="@{'/board/c' + ${content.categorynum} + '/b' + ${content.boardnum} + '?previouscategorynum=200'}"><img class="imgImg" th:src="${content.imgpath}"></a>
							<p class="imgText">
							<th:block th:if="${content.commentcount != 0}">
								<a th:href="@{'/board/c' + ${content.categorynum} + '/b' + ${content.boardnum} + '?previouscategorynum=200'}"
								th:text="${content.title} + '[' + ${content.commentcount} + ']'">
								</a>
							</th:block>
							<th:block th:unless="${content.commentcount != 0}">
								<a th:href="@{'/board/c' + ${content.categorynum} + '/b' + ${content.boardnum} + '?previouscategorynum=200'}"
								th:text="${content.title}">
								</a>
							</th:block>
								
							</p>
						</div>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList2)}">
						<div class="none-div">
							<a class="boardEmpty">게시물이 없습니다.</a>
						</div>
					</th:block>
				</div>
				<hr class="mainBoardLine"> 
				<a class="categoryTitle" th:href="|/board/c500|">소식</a>
				<div class="imgContainer_news">
					<th:block th:if="${!#lists.isEmpty(dataList5)}">
						<div th:each="content : ${datalist5}"
							class="imgTextContainer_news">
							<img class="imgImg" src="${content.imgpath}"
								th:href="@{'/board/c' + ${content.categorynum} + '/b' + ${content.boardnum} + '?previouscategorynum=500'}">
							<th:block th:if="${content.commentcount != 0}">
								<a class="imgText"
									th:href="@{'/board/c' + ${content.categorynum} + '/b' + ${content.boardnum} + '?previouscategorynum=500'}"
									th:text="${content.title} + '[' + ${content.commentcount} + ']'"></a>
							</th:block>
							<th:block th:unless="${content.commentcount != 0}">
								<a class="imgText"
									th:href="@{'/board/c' + ${content.categorynum} + '/b' + ${content.boardnum} + '?previouscategorynum=500'}"
									th:text="${content.title}"></a>
							</th:block>

						</div>
					</th:block>
					<th:block th:unless="${!#lists.isEmpty(dataList5)}">
						<div class="none-div">
							<a class="boardEmpty">게시물이 없습니다.</a>
						</div>
					</th:block>
				</div>
				<hr class="mainBoardLine">
			</li>
		</ul>
	</div>
	<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
</body>
</html>
