<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="haule.raelfarm.mapper.BoardMapper">
		
	<sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test='params.keyword != null and params.keyword != ""'>
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="params.searchType != null and params.searchType != ''">
                    <choose>
                        <when test="'title'.equals( params.searchType )">
							AND
								(INSTR(A.TITLE, #{params.keyword}) > 0)
                        </when>
                        <when test="'content'.equals( params.searchType )">
                            AND
								(INSTR(A.CONTENT, #{params.keyword}) > 0)
                        </when>
                        <when test="'writer'.equals( params.searchType )">
                            AND
								(INSTR((
									SELECT
										NICKNAME
									FROM
										USERS
									WHERE
										USERID = A.WRITER), #{params.keyword}) > 0)
                        </when>
                    </choose>
                </when>
                <!-- 전체 검색일 때 때 제목 내용만-->
                <otherwise>
                AND
					(INSTR(TITLE, #{params.keyword}) > 0 OR INSTR(CONTENT, #{params.keyword}) > 0) 
                </otherwise>
            </choose>
        </if>
    </sql>



	<select id="SelectBoardsAll" parameterType="haule.raelfarm.dto.SearchDTO" resultType="haule.raelfarm.dto.ViewBoardsDTO">
		<![CDATA[
			SELECT 
				A.CATEGORY_NUM as categorynum,
				A.BOARD_NUM as boardnum,
				(SELECT CATEGORY_NAME FROM CATEGORY_BOARD_TEST WHERE A.CATEGORY_NUM = CATEGORY_NUM) as categoryname,
				A.TITLE as title,
				A.EXIST_IMGFILE as existimgfile,
				(SELECT NICKNAME FROM USERS_TEST WHERE USERID = A.WRITER) as writer,
				DATE_FORMAT(A.REGISTERED_DATE, '%Y-%m-%d %H:%i:%S') as registerdate,
				null as content,
				B.VIEW_COUNT as viewcount,
				(B.RECOMMEND_COUNT - B.NO_RECOMMEND_COUNT) as recommendcount,
				null as sqltext
			FROM 
				BOARD_TEST A, BOARD_DATA_TEST B
			WHERE
				B.I_BOARD_NUM = CONCAT(LPAD(A.CATEGORY_NUM, 5, '0'), A.BOARD_NUM)
			AND
				A.DELETED = 'N'
		]]>
			<include refid="search"/>
		<![CDATA[
			ORDER BY registerdate desc
			LIMIT #{params.pagination.limitStart}, #{params.recordSize}
		]]>
	</select>
	
	<select id="SelectBoardsAll_CNT" parameterType="haule.raelfarm.dto.SearchDTO" resultType="int">
		<![CDATA[
			SELECT 
				COUNT(1)
			FROM 
				BOARD_TEST A
			WHERE
				A.DELETED = 'N'
		]]>
			<include refid="search"/>
	</select>
	
	<select id="SelectBoards" parameterType="haule.raelfarm.dto.SearchDTO" resultType="haule.raelfarm.dto.ViewBoardsDTO">
		<![CDATA[
			SELECT 
				A.CATEGORY_NUM as categorynum,
				A.BOARD_NUM as boardnum,
				(SELECT CATEGORY_NAME FROM CATEGORY_BOARD_TEST WHERE A.CATEGORY_NUM = CATEGORY_NUM) as categoryname,
				A.TITLE as title,
				A.EXIST_IMGFILE as existimgfile,
				(SELECT NICKNAME FROM USERS_TEST WHERE USERID = A.WRITER) as writer,
				DATE_FORMAT(A.REGISTERED_DATE, '%Y-%m-%d %H:%i:%S') as registerdate,
				null as content,
				B.VIEW_COUNT as viewcount,
				(B.RECOMMEND_COUNT - B.NO_RECOMMEND_COUNT) as recommendcount,
				null as sqltext
			FROM 
				BOARD_TEST A, BOARD_DATA_TEST B
			WHERE
				B.I_BOARD_NUM = CONCAT(LPAD(A.CATEGORY_NUM, 5, '0'), A.BOARD_NUM)
			AND
				A.DELETED = 'N'
		]]>
			
		<choose>
			<when test = "category_num % 100 == 0">
				<![CDATA[
					AND A.CATEGORY_NUM BETWEEN #{category_num_st} AND #{category_num_ed}
				]]>	
			</when>
			<otherwise>
				<![CDATA[
					AND A.CATEGORY_NUM = #{category_num}
				]]>	
			</otherwise>
		</choose>
		<include refid="search"/>
		<![CDATA[
			ORDER BY A.REGISTERED_DATE DESC
			LIMIT #{params.pagination.limitStart}, #{params.recordSize}
		]]>
	</select>
	<select id="SelectBoards_CNT" parameterType="haule.raelfarm.dto.SearchDTO" resultType="int">
		<![CDATA[
			SELECT 
				COUNT(1)
			FROM 
				BOARD_TEST
			WHERE
				DELETED = 'N'
		]]>
			
		<choose>
			<when test = "category_num % 100 == 0">
				<![CDATA[
					AND CATEGORY_NUM BETWEEN #{category_num_st} AND #{category_num_ed}
				]]>	
			</when>
			<otherwise>
				<![CDATA[
					AND CATEGORY_NUM = #{category_num}
				]]>	
			</otherwise>
		</choose>
		<include refid="search"/>
	</select>
	<select id="SelectPreviousNextBoards" resultType="haule.raelfarm.dto.ViewBoardsDTO">
		<![CDATA[
			SELECT 
				X.CATEGORYNUM as categorynum,
				X.BOARDNUM as boardnum,
				(SELECT CATEGORY_NAME FROM CATEGORY_BOARD_TEST WHERE CATEGORY_NUM = X.CATEGORYNUM) as categoryname,
				X.TITLE as title,
				X.EXISTIMGFILE as existimgfile,
				(SELECT NICKNAME FROM USERS_TEST WHERE USERID = X.WRITER) as writer,
				X.REGISTERDATE as registerdate,
				X.MODIFIEDDATE as modifieddate,
				X.CONTENT as content,
				B.VIEW_COUNT as viewcount,
				(B.RECOMMEND_COUNT - B.NO_RECOMMEND_COUNT) as recommendcount,
				X.SEQTEXT as seqtext
			FROM
			(
				SELECT
					A.CATEGORY_NUM AS CATEGORYNUM,
					A.BOARD_NUM AS BOARDNUM,
					A.TITLE AS TITLE,
					A.WRITER AS WRITER,
					A.EXIST_IMGFILE AS EXISTIMGFILE,
					A.REGISTERED_DATE AS REGISTERDATE,
					A.MODIFIED_DATE AS MODIFIEDDATE,
					NULL AS CONTENT,
					CASE
						WHEN A.PREVIOUS_CBN = #{iboardnum}
							THEN 'NEXT'
						WHEN A.NEXT_CBN = #{iboardnum}
							THEN 'PREVIOUS'
					END AS SEQTEXT
				FROM
					(SELECT
						*,
						CONCAT(LPAD(LAG(CATEGORY_NUM) OVER(ORDER BY REGISTERED_DATE ASC),5,'0'),LAG(BOARD_NUM) OVER(ORDER BY REGISTERED_DATE ASC)) AS PREVIOUS_CBN,
						CONCAT(LPAD(LEAD(CATEGORY_NUM) OVER(ORDER BY REGISTERED_DATE ASC),5,'0'),LEAD(BOARD_NUM) OVER(ORDER BY REGISTERED_DATE ASC)) AS NEXT_CBN
					FROM BOARD_TEST
					WHERE
					]]>
					<choose>
						<when test = "category_num % 100 == 0">
							<![CDATA[
								CATEGORY_NUM BETWEEN #{category_num_st} AND #{category_num_ed}
							]]>	
						</when>
						<otherwise>
							<![CDATA[
								CATEGORY_NUM = #{category_num}
							]]>	
						</otherwise>
					</choose>
			<![CDATA[
					) A
				WHERE
					A.PREVIOUS_CBN = #{iboardnum} OR A.NEXT_CBN = #{iboardnum}
			]]>
				<include refid="search"/>
			<![CDATA[
				UNION ALL
					SELECT 
						CATEGORY_NUM AS CATEGORYNUM,
						BOARD_NUM AS BOARDNUM,
						TITLE AS TITLE,
						WRITER AS WRITER,
						EXIST_IMGFILE AS EXISTIMGFILE,
						REGISTERED_DATE AS REGISTERDATE,
						MODIFIED_DATE AS MODIFIEDDATE,
						CONTENT AS CONTENT,
						'CURRENT' AS SEQTEXT
					FROM
						BOARD_TEST A
					WHERE
						CATEGORY_NUM = #{category_num} AND BOARD_NUM = #{board_num}
				) X, 
				BOARD_DATA_TEST B 
			WHERE 
				B.I_BOARD_NUM = CONCAT(LPAD(X.CATEGORYNUM,5,'0'), X.BOARDNUM)
		]]>
	</select>
	<select id="SelectBoardNum" resultType="haule.raelfarm.dto.BoardNumSelectDTO">
		<![CDATA[
			SELECT 
				B.CATEGORY_NUM as categorynum, IFNULL(A.BOARD_NUM, 0) as boardnum
			FROM 
				(
				SELECT 
					* 
				FROM (
					SELECT 
						CATEGORY_NUM ,  
						RANK() OVER(PARTITION BY CATEGORY_NUM ORDER BY BOARD_NUM DESC) AS BOARD_RANKING,
						BOARD_NUM
					FROM 
						BOARD_TEST) TEMP 
				WHERE 
					TEMP.BOARD_RANKING = 1) A 
				RIGHT JOIN 
					CATEGORY_BOARD_TEST B 
						ON A.CATEGORY_NUM = B.CATEGORY_NUM
		]]>
	</select>
	
	<select id="SelectBoard" resultType="haule.raelfarm.dto.ViewBoardDTO">
		<![CDATA[
			SELECT 
				CATEGORY_NUM AS CATEGORYNUM,
				(SELECT CATEGORY_NAME FROM CATEGORY_BOARD_TEST CBT WHERE A.CATEGORY_NUM = CATEGORY_NUM) AS CATEGORYNAME,
				BOARD_NUM AS BOARDNUM,
				TITLE,
				CONTENT
			FROM 
				BOARD_TEST A
			WHERE
				CATEGORY_NUM = #{arg0}
			AND
				BOARD_NUM = #{arg1}
		]]>
	</select>
	<select id="SelectBoardRecommendCount" resultType="int">
		<![CDATA[
			SELECT 
				(RECOMMEND_COUNT - NO_RECOMMEND_COUNT) as recommend_count 
			FROM 
				BOARD_DATA_TEST
			WHERE
				I_BOARD_NUM = #{arg0}
		]]>
	</select>
	<insert id="InsertBoardData" parameterType="string">
		<![CDATA[
			INSERT INTO BOARD_DATA_TEST VALUES(
				#{iboardnum},
				default,
				default,
				default
			)
		]]>
	</insert>
	<insert id="InsertBoardMedia" parameterType="haule.raelfarm.dto.BoardMediaFileInsertDTO">
		<![CDATA[
			INSERT INTO BOARD_MEDIAFILE_TEST VALUES(
				#{iboardnum},
				#{seq},
				#{contenttype},
				#{filename},
				#{filepath},
				default
			)
		]]>
		
	</insert>
	
	<!-- categorynum, boardnum, registereddate, title, writer, modefieddate, deleted, existimgfile, content -->
	<insert id="InsertBoard">
		<![CDATA[
			INSERT INTO BOARD_TEST VALUES(
				#{arg0},
				#{arg1},
				default, 
				#{arg2}, 
				#{arg3},
				default,
				default, 
				#{arg4}, 
				#{arg5}
			)
		]]>
	</insert>
	
	<insert id="InsertBoardPreviousContent">
		<![CDATA[
			INSERT INTO BOARD_PREVIOUS_CONTENT_TEST VALUES(
				#{arg0},
				#{arg1},
				default,
				#{arg2},
				#{arg3}
			)
		]]>
	</insert>
	
	<!--   iboardnum commentno parentcommentno registereddate writer content modifieddate recommendcount norecommendcount deleted -->
	<insert id="InsertBoardComment">
		<![CDATA[
			INSERT INTO BOARD_COMMENT_TEST VALUES(
				#{arg0},
				#{arg1},
				#{arg2},
				default,
				#{arg3},
				#{arg4},
				default,
				default,
				default,
				default
			)
		]]>
	</insert>
	
	<insert id="InsertBoardCommentRecommendHistory">
		<![CDATA[
			INSERT INTO BOARD_COMMENT_RECOMMEND_HISTORY_TEST VALUES(
				#{arg0},
				#{arg1},
				#{arg2}
			)
		]]>
	</insert>
	
	<select id="SelectBoardComments" parameterType="haule.raelfarm.dto.SearchDTO" resultType="haule.raelfarm.dto.BoardCommentDTO">
		<![CDATA[
		SELECT 
			iboardnum, 
			commentno, 
			parentcommentno, 
			parentwriter,
			level, 
			registereddate, 
			writer, 
			content, 
			modifieddate, 
			recommendcount,
			norecommendcount,
			deleted
		FROM
			(
			WITH RECURSIVE CTE AS (
				SELECT
					I_BOARD_NUM as iboardnum,
					COMMENT_NO as commentno,
					PARENT_COMMENT_NO as parentcommentno,
					CAST("" as NCHAR(16)) as parentcommentwriter,
					1 as level,
					REGISTERED_DATE as registereddate,
					WRITER as writer,
					CONTENT as content,
					MODIFIED_DATE as modifieddate,
					RECOMMEND_COUNT as recommendcount,
					NO_RECOMMEND_COUNT as norecommendcount,
					DELETED as deleted,
					CAST(CONVERT(COMMENT_NO, CHAR) as NCHAR(100)) as path
				FROM
					BOARD_COMMENT_TEST
				WHERE
					PARENT_COMMENT_NO = 0
				AND
					I_BOARD_NUM = #{iboardnum}
				UNION all
				SELECT
					A.I_BOARD_NUM as iboardnum,
					A.COMMENT_NO as commentno,
					A.PARENT_COMMENT_NO as parentcommentno,
					B.WRITER as parentcommentwriter,
					B.LEVEL + 1 as level,
					A.REGISTERED_DATE as registereddate,
					A.WRITER as writer,
					A.CONTENT as content,
					A.MODIFIED_DATE as modifieddate,
					A.RECOMMEND_COUNT as recommendcount,
					A.NO_RECOMMEND_COUNT as norecommendcount,
					A.DELETED as deleted,
					CONCAT(B.PATH,'-',A.COMMENT_NO) as path
				FROM
					BOARD_COMMENT_TEST A, CTE B
				WHERE
					A.PARENT_COMMENT_NO = B.commentno
				AND
					B.iboardnum = #{iboardnum}
			)
			SELECT 
				iboardnum, 
				commentno, 
				parentcommentno, 
				(select nickname from users_test where userid = CTE.parentcommentwriter) as parentwriter,
				level, 
				registereddate, 
				(select nickname from users_test where userid = CTE.writer) as writer, 
				content, 
				modifieddate, 
				recommendcount,
				norecommendcount,
				deleted
			FROM CTE
				ORDER BY convert(path, unsigned), path
			) A
			LIMIT #{params.pagination.limitStart}, #{params.recordSize}
		]]>
	</select>
	<select id="SelectBoardComments_CNT" resultType="int">
		<![CDATA[
			SELECT
				COUNT(1)
			FROM
				BOARD_COMMENT_TEST
			WHERE
				I_BOARD_NUM = #{iboardnum}
		]]>
		
	</select>
	
	<select id="SelectBoardCommentMAXCommentNo" resultType="int">
		<![CDATA[
			SELECT
				IFNULL(MAX(COMMENT_NO), 0) AS COMMENT_NO
			FROM
				BOARD_COMMENT_TEST
		]]>
	</select>
	
	<select id="SelectBoardCommentMAXSeq" resultType="int">
		<![CDATA[
			SELECT
				IFNULL(MAX(SEQ), 0) AS COMMENT_NO
			FROM
				BOARD_COMMENT_TEST
			WHERE
				I_BOARD_NUM = #{arg0}
			AND
				COMMENT_NO = #{arg1}
		]]>
	</select>
	<select id="SelectCheckBoardCommentRecommendHistory" resultType="int">
		<![CDATA[
			SELECT
				IFNULL(MIN(1), 0)
			FROM
				DUAL
			WHERE
				EXISTS (
						SELECT
							1
						FROM
							BOARD_COMMENT_RECOMMEND_HISTORY_TEST
						WHERE
							COMMENT_NO = #{arg0}
						AND
							USERID = #{arg1}
					)
		]]>
			
	</select>
	
	<update id="UpdateBoardTitleContent">
		<![CDATA[
			UPDATE 
				BOARD_TEST A
			SET
				A.TITLE = #{arg2},
				A.CONTENT = #{arg3},
				A.MODIFIED_DATE = (SELECT SYSDATE())
			WHERE
				A.CATEGORY_NUM = #{arg0}
			AND
				A.BOARD_NUM = #{arg1}
		]]>
	</update>
	<!--   String ireplynum, int commentno, int seq) -->
	
	<update id="UpdateIncreaseBoardCommentRecommend">
		<![CDATA[
			UPDATE 
				BOARD_COMMENT_TEST 
			SET 
				RECOMMEND_COUNT = (CASE WHEN 'Y' = #{arg2} THEN (RECOMMEND_COUNT + 1) ELSE RECOMMEND_COUNT END), 
				NO_RECOMMEND_COUNT = (CASE WHEN 'Y' = #{arg2} THEN NO_RECOMMEND_COUNT ELSE (NO_RECOMMEND_COUNT + 1) END)
			WHERE
				I_BOARD_NUM = #{arg0} 
			AND
				COMMENT_NO = #{arg1} 
		]]>
	</update>
	
	
</mapper>
