<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="haule.raelfarm.mapper.BoardMapper">
	<select id="SelectMainDatas" resultType="haule.raelfarm.dto.MainSelectDTO">
		<![CDATA[
			SELECT 
				A.CATEGORY_NUM,
				CONVERT(A.BOARD_NUM, CHAR) AS BOARD_NUM,
				CASE WHEN 
					CHAR_LENGTH(A.TITLE) > 29
				THEN
					CONCAT(SUBSTR(A.TITLE,1,30),"...")
				ELSE
					A.TITLE END AS TITLE,
				CASE WHEN
					A.CATEGORY_NUM between 200 and 299
					THEN
						(SELECT
							CONCAT("/summernoteImage/", FILE_PATH, "/", FILE_NAME) 
						FROM
							BOARD_MEDIAFILE_TEST MT1 
						WHERE
							I_BOARD_NUM = CONCAT(LPAD(A.CATEGORY_NUM, 5,'0'), A.BOARD_NUM)
						AND
							SEQ = (SELECT
										MIN(SEQ)
									FROM
										BOARD_MEDIAFILE_TEST MT2
									WHERE
										MT1.I_BOARD_NUM = MT2.I_BOARD_NUM
									AND
										DELETED = 'N'))
					ELSE NULL END AS IMGPATH,
					(
						SELECT 
							COUNT(1) 
						FROM 
							BOARD_COMMENT_TEST 
						WHERE I_BOARD_NUM = CONCAT(LPAD(A.CATEGORY_NUM, 5, '0'), A.BOARD_NUM)
					) as commentcount,
					A.EXIST_IMGFILE as existimgfile,
					A.HOT,
					A.SQLTEXT
			FROM ( 
				SELECT
					ROW_NUMBER() OVER (PARTITION BY CATEGORY_NUM ORDER BY REGISTERED_DATE DESC) AS 'RN',
					CATEGORY_NUM,
					BOARD_NUM,
					TITLE,
					EXIST_IMGFILE,
					REGISTERED_DATE,
					HOT,
					'other' as SQLTEXT
				FROM 
					BOARD_TEST
				WHERE 
					CATEGORY_NUM IN (303, 401, 200, 201, 202, 203, 204, 205, 206, 500, 501, 502, 503)
				UNION ALL
				SELECT
					ROW_NUMBER() OVER (PARTITION BY B.CATEGORY_NUM ORDER BY B.HOTREG_DATE DESC) AS 'RN',
					A.CATEGORY_NUM,
					A.BOARD_NUM,
					A.TITLE,
					A.EXIST_IMGFILE,
					A.REGISTERED_DATE,
					A.HOT,
					'hot' as SQLTEXT
				FROM
					BOARD_TEST A, HOT_BOARD_TEST B
				WHERE
					(A.CATEGORY_NUM, A.BOARD_NUM) = (B.CATEGORY_NUM, B.BOARD_NUM)
			) AS A
			WHERE A.RN <= 9
		]]>
	</select>
</mapper>
